div.video-div{
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
.video-div video{
  width: 100%;
}

@media screen and (max-width: 600px){
  div.video-div{
    padding-left: 5%;
    padding-right: 5%;
  }
}