.nav-background{
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: center;
  min-height: 400px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-background::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.welcome-text{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  padding: 5rem;
  opacity: 1;
}
.welcome-text > div{
  animation: welcometext 2s;
}
.quick-link{
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}
.quick-link:hover{
  transition: all 0.5 ease-in-out;
  color: black;
  background-color: white;
}
@keyframes welcometext {
  20% {transform: rotate(15deg); opacity: 0.2}
  40% {transform: rotate(15deg); opacity: 0.4}
  60% {transform: rotate(-30deg); opacity: 0.6}
  80% {transform: rotate(30deg); opacity: 0.8}
  100% {transform: rotate(0deg); opacity: 1}
}
.welcome-text p:first-child{
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 600px){
  .quick-link{
    padding: 5px;
    font-size: 1rem;
  }
}